/*============================= common css starts ========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pcl: #147ff3;
    --bgcl: #E3F4FF;
    --dark-01: #181818;
    --dark-02: #474747;
    --dark-03: #757575;
    --white-color: #FFFFFF;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.full-wrapper {
    width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text_color {
    color: var(--pcl);
}

/* header text css starts */
.h-text {
    text-align: center;
}

.h-text h2 {
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
}

/* header text css ends */

/* paragraph common css starts */
.common_p {
    color: var(--dark-03);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* paragraph common css ends */

.btn,
.btn a {
    border-radius: 5px;
    background: var(--pcl);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* =========================  common css ends =========================== */


/* ========================= Header section css starts ============================ */

/* nav css starts */
header nav {
    padding-top: 51px;
}

header nav,
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}


header nav ul {
    display: flex;
}

header nav ul li {
    margin-right: 50px;
}

header nav ul li a {
    color: var(--dark-02);
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

/* nav css ends */

/* banner css starts */
.banner {
    background-color: var(--bgcl);
}

.banner .banner_content {
    padding-top: 60px;
    display: flex;
    position: relative;
    z-index: 99999;
}

.banner .banner_content .bg_img img {
    max-width: 500px;
}

.banner .banner_content .bgimg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.banner .banner_content .bgimgV {
    position: absolute;
    top: -60px;
    left: -120px;
}

.banner .banner_content .banner_item {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 60px;

}

.banner .banner_content .banner_item h3 {
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
}

.banner .banner_content .banner_item h1 {
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.banner .banner_content .banner_item .banner_btn .d_btn {
    background-color: var(--pcl);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.banner .banner_content .banner_item .banner_btn .last {
    margin-left: 20px;
}

.banner .banner_content .banner_item .banner_btn .d_btn:hover {
    background-color: white;
    border: 1px solid var(--pcl);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.banner .banner_content .banner_item .banner_btn .d_btn:hover .bbtn a {
    color: var(--pcl);

}

.banner .banner_content .banner_item .banner_btn .d_btn:hover .bbtn i {
    color: #147ff3;
}

.banner .banner_content .banner_item .banner_btn .d_btn a,
i {
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 10px;
    text-transform: capitalize;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.banner .banner_content .banner_item .banner_btn .d_btn .bbtn {
    padding: 15px 23px;
    display: flex;
    align-items: center;
}

/* banner css ends */

/* ========================= Header section css ends ============================ */



/* =========================== Main section css starts =============================== */

/* about section css starts */
#about .about-bg {
    margin: 130px 0;
}

#about .about-bg .about {
    background-color: var(--bgcl);
}

#about .about-bg .about .about-content {
    padding: 130px;
}

#about .about-bg .about .about-info {
    display: flex;
    justify-content: space-around;

}

#about .about-bg .about .about-info .dd1 {
    text-align: center;
}

/* about section css ends */



/* skills section starts */
#skills .skills-bg .skills .skills-content .h-text {
    padding: 0px 115px;
}


#skills .skills-bg .skills .skills-content .skills-info {
    /* display: flex;
    gap: 24px; */
    display: grid;
    grid-template-columns: repeat(4, 267px);
    justify-content: space-between;
}

#skills .skills-bg .skills .skills-content .skills-info .sd1 {
    background-color: var(--white-color);
    height: 377px;
    /* width: 267px; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
}

#skills .skills-bg .skills .skills-content .skills-info .sd1 h3 {
    color: var(--dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* skills section ends */

/* resume section css starts */
#resume .resume-bg .resume .resume-info {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(2, minmax(558px)); */
    /* grid-template-rows: repeat(3, 250px); */
    /* justify-content: space-between; */
    column-gap: 30px;
}

#resume .resume-bg .resume .resume-info .resume-content {
    /* width: 558px; */
    border-bottom: 1px solid #D1D1D1;
    margin-top: 30px;
}

#resume .resume-bg .resume .resume-info .resume-content h2 {
    color: var(--dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

#resume .resume-bg .resume .resume-info .resume-content h3 {
    color: var(--dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

#resume .resume-bg .resume .resume-info .resume-content h4 {
    color: var(--dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

#resume .resume-bg .resume .resume-info .resume-content p {
    padding-bottom: 30px;
    margin-right: 90px;
}

#resume .resume-bg .resume .resume-btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#resume .resume-bg .resume button {
    width: 250px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background: var(--pcl);
}

#resume .resume-bg .resume button a {
    color: var(--white-color, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* resume section css ends */

/* =========================== Main section css ends =============================== */


/* =========================== Footer section css starts =============================== */
#footer .footer-bg {
    background-color: var(--bgcl);
    padding: 130px 0px;
    margin-top: 130px;
}

#footer .footer-bg .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#footer .footer-bg .footer .footer-content {
    padding-right: 80px;
}

#footer .footer-bg .footer .footer-content h3 {
    color: var(--dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

#footer .footer-bg .footer .footer-content .footer-icon a i {
    color: var(--pcl);
    font-size: 24px;
    margin-top: 30px;
}

#footer .footer-bg .footer .footer-form h3 {
    color: var(--dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

#footer .footer-bg .footer .footer-form form input {
    display: block;
    width: 100%;
    height: 64px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
    padding-left: 20px;
}

#footer .footer-bg .footer .footer-form form textarea {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
    padding-left: 20px;
}

#footer .footer-bg .footer .footer-form form .sub {
    background-color: var(--pcl);
    /* width: 150px; */
    padding: 0;
    margin: 0;
}

#footer .footer-bg .footer .footer-form form .sub {
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
}

#footer .footer-bg .footer .footer-form form button {
    border: none;
    padding: 0px 20px;
    background-color: var(--pcl);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* =========================== Footer section css ends =============================== */






/* Responsive for Mobile devices smaller starts */
@media screen and (min-width:320px) and (max-width:480px) {
    .container {
        width: 100%;
    }

    /* navbar responsive css starts */
    header nav {
        flex-direction: column;
        padding-top: 20px;
    }

    header nav ul {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    header nav ul li {
        margin: 10px 0px;
    }

    /* navbar responsive css ends */

    /* banner responsive css starts */
    .banner .banner_content {
        flex-direction: column;
    }

    .banner .banner_content .bg_img img {
        width: 100%;
    }

    .bgimg img {
        width: 100%;
    }

    .banner .banner_content .banner_item .bd1 {
        margin-left: 40px;
    }

    .banner .banner_content .banner_item {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .banner .banner_content {
        padding-top: 0px;
    }

    .banner .banner_content .banner_item .banner_btn .d_btn {
        margin-top: 20px;
    }

    .banner .banner_content .banner_item .banner_btn .last {
        margin-left: 0px;
    }

    /* banner responsive css ends */


    /* about section responsive starts */
    #about .about-bg .about .about-content {
        padding: 80px 40px;
    }

    #about .about-bg .about .about-info {
        flex-direction: column;
        gap: 20px;
    }

    /* about section responsive ends */

    #skills .skills-bg .skills .skills-content .h-text {
        padding: 0px 30px;
    }

    #skills .skills-bg .skills .skills-content .skills-info {
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
        gap: 30px;
    }

    /* resume responsive css starts */
    #resume .resume-bg .resume .resume-info {
        grid-template-columns: 1fr;
    }

    #resume .resume-bg .resume .resume-info .resume-content {
        margin-left: 20px;
    }

    /* resume responsive css ends */

    /* footer responsive css starts */
    #footer .footer-bg .footer {
        grid-template-columns: 1fr;
        row-gap: 60px;
        /* margin-left: 20px; */
    }

    #footer .footer-bg .footer .footer-content,
    .footer-form {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* footer responsive css ends */
}



/* Responsive for Mobile devices smaller ends */



/* Responsive for Mobile devices medium-smaller starts */
@media screen and (min-width: 481px) and (max-width:576px) {
    .container {
        width: 100%;
    }

    /* navbar responsive css starts */
    header nav {
        flex-direction: column;
        padding-top: 20px;
    }

    header nav ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header nav ul li {
        margin: 20px 30px;
    }

    /* navbar responsive css ends */


    /* banner responsive css starts */
    .banner .banner_content {
        flex-direction: column;
    }

    .banner .banner_content .bg_img img {
        width: 100%;
    }

    .bgimg img {
        width: 100%;
    }

    .banner .banner_content .banner_item .bd1 {
        margin-left: 40px;
    }

    .banner .banner_content .banner_item {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .banner .banner_content {
        padding-top: 0px;
    }

    .banner .banner_content .banner_item .banner_btn .d_btn {
        margin-top: 20px;
    }

    /* banner responsive css ends */

    /* about section responsive starts */
    #about .about-bg .about .about-content {
        padding: 80px 40px;
    }

    #about .about-bg .about .about-info {
        flex-direction: column;
        gap: 20px;
    }

    /* about section responsive ends */

    /* skill section responsive starts */
    #skills .skills-bg .skills .skills-content .h-text {
        padding: 0px 30px;
    }

    #skills .skills-bg .skills .skills-content .skills-info {
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
        gap: 30px;
    }

    /* skill section responsive ends */

    /* resume responsive css starts */
    #resume .resume-bg .resume .resume-info {
        grid-template-columns: 1fr;
    }

    #resume .resume-bg .resume .resume-info .resume-content {
        margin-left: 20px;
    }

    /* resume responsive css ends */

    /* footer responsive css starts */
    #footer .footer-bg .footer {
        grid-template-columns: 1fr;
        row-gap: 60px;
        /* margin-left: 20px; */
    }

    #footer .footer-bg .footer .footer-content,
    .footer-form {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* footer responsive css ends */
}

/* Responsive for Mobile devices medium-smaller ends */



/* Responsive for tablet and more starts */
@media screen and (min-width: 577px) and (max-width:768px) {

    .container {
        width: 100%;
    }

    /* navbar responsive css starts */
    header nav {
        flex-direction: column;
        padding-top: 20px;
    }

    header nav ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header nav ul li {
        margin: 20px 40px;
    }

    /* navbar responsive css ends */


    /* banner responsive css starts */
    .banner .banner_content {
        flex-direction: column;
    }

    .bgimg img {
        width: 100%;
    }

    .banner .banner_content .banner_item .bd1 {
        margin-left: 40px;
    }

    .banner .banner_content .banner_item {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .banner .banner_content {
        padding-top: 0px;
    }

    .banner .banner_content .banner_item .banner_btn .d_btn {
        margin-top: 20px;
    }

    /* banner responsive css ends */


    /* about section responsive starts */
    #about .about-bg .about .about-content {
        padding: 80px;
    }

    #about .about-bg .about .about-info {
        flex-direction: column;
        gap: 30px;
    }

    /* about section responsive ends */


    /* skill section responsive starts */
    #skills .skills-bg .skills .skills-content .h-text {
        padding: 0px 30px;
    }

    #skills .skills-bg .skills .skills-content .skills-info {
        grid-template-columns: repeat(2, 267px);
        justify-content: center;
        gap: 20px;
    }

    /* skill section responsive ends */

    /* resume responsive css starts */
    #resume .resume-bg .resume .resume-info {
        grid-template-columns: 1fr;
    }

    #resume .resume-bg .resume .resume-info .resume-content {
        margin-left: 20px;
    }

    /* resume responsive css ends */

    /* footer responsive css starts */
    #footer .footer-bg .footer {
        grid-template-columns: 1fr;
        row-gap: 60px;
        /* margin-left: 20px; */
    }

    #footer .footer-bg .footer .footer-content,
    .footer-form {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* footer responsive css ends */
}

/* Responsive for tablet and more ends */


/* Responsive for bigger device starts */
@media screen and (min-width: 769px) and (max-width:1024px) {

    .container {
        width: 100%;
    }

    /* navbar responsive css starts */
    header nav {
        padding-top: 0px;

    }

    header nav ul {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 60px;
    }

    header nav ul li {
        margin: 20px 30px;
    }

    header nav h3 {
        margin-left: 80px;
    }

    /* navbar responsive css ends */

    /* banner responsive css starts */
    .bgimg img {
        /* display: none; */
        width: 100%;
    }

    .bg_img {
        display: grid;
        grid-template-rows: 1fr;
        align-items: end;
    }

    .banner .banner_content .banner_item .bd1 {
        margin-left: 40px;
    }

    .banner .banner_content .banner_item {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .banner .banner_content {
        padding-top: 0px;
    }

    .banner .banner_content .banner_item .banner_btn .d_btn {
        margin-top: 20px;
    }

    .banner .banner_content .banner_item .banner_btn .last {
        margin-left: 0px;
    }

    /* banner responsive css ends */

    /* about section responsive starts */
    #about .about-bg .about .about-content {
        padding: 80px;
    }

    #about .about-bg .about .about-info {
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 30px;
    }

    /* about section responsive ends */


    /* skill section responsive starts */
    #skills .skills-bg .skills .skills-content .h-text {
        padding: 0px 80px;
        margin-bottom: 60px;
    }

    #skills .skills-bg .skills .skills-content .skills-info {
        grid-template-columns: repeat(2, 267px);
        justify-content: center;
        gap: 40px;
    }

    /* skill section responsive ends */

        /* footer responsive css starts */
        #footer .footer-bg .footer .footer-content,
        .footer-form {
            margin-left: 20px;
            margin-right: 20px;
        }
    
        /* footer responsive css ends */
}

/* Responsive for bigger device ends */


/* Responsive for bigger device starts */
@media screen and (min-width: 1025px) and (max-width:1200px) {

    .container {
        width: 100%;
    }

    /* navbar responsive css starts */
    header nav {
        /* flex-direction: column; */
        padding-top: 0px;

    }

    header nav ul {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 60px;
    }

    header nav ul li {
        margin: 20px 30px;
    }

    header nav h3 {
        margin-left: 80px;
    }

    /* navbar responsive css ends */

    /* banner responsive css starts */
    .bgimg img {
        /* display: none; */
        width: 100%;
    }

    .bg_img {
        display: grid;
        grid-template-rows: 1fr;
        align-items: end;
    }

    .banner .banner_content .banner_item .bd1 {
        margin-left: 40px;
    }

    .banner .banner_content .banner_item {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .banner .banner_content {
        padding-top: 0px;
    }

    .banner .banner_content .banner_item .banner_btn .d_btn {
        margin-top: 20px;
    }

    /* banner responsive css ends */

    /* about section responsive starts */
    #about .about-bg .about .about-content {
        padding: 80px;
    }

    #about .about-bg .about .about-info {
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 30px;
    }

    /* about section responsive ends */


    /* skill section responsive starts */
    #skills .skills-bg .skills .skills-content .h-text {
        padding: 0px 80px;
        margin-bottom: 60px;
    }

    #skills .skills-bg .skills .skills-content .skills-info {
        grid-template-columns: repeat(2, 267px);
        justify-content: center;
        gap: 40px;
    }

    /* skill section responsive ends */
}